<p><%= link_to "show", @user %></p>
<p><%= link_to "followings", followings_user_path(@user) %></p>
<p><%= link_to "followers", followers_user_path(@user) %></p>
<p><%= link_to "favorites", favorites_user_path(@user) %></p>