<div class="row">
  <%= render 'user_info' %>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
      <h3>followings (<%= @users.count %>)</h3>
      <ol class="microposts">
        <%= render 'users' %>
      </ol>
  </div>
</div>